<html>
<body>
{% if users|length %}

{%- for user in users -%}
<div> Some course info. <br />{{ url }}</div>
<p>
{{user.username}} <br />
{{user.pwd}} <br />
</p>
{%- endfor -%}

{% endif %}
</body>
</html>